{% extends "base.html" %}
{% block content %}
<div class="container">

  <form class="well" method="POST" action="/add">
    <div class="row">
      <label>creator</label>
      <span class="span3">{{ quser.g_user.nickname }}</span>
    </div>
    <div class="row">
      <label>assignee</label>
      <span class="span3">select assignee</span>
    </div>
    <div class="row">
      <label>title</label>
      <input type="text" class="input-medium span3" placeholder="task title" />
    </div>
    <div class="row">
      <label>description</label>
      <input type="text" class="span3" placeholder="task description" />
    </div>
    <div class="row">
      <label>deadline</label>
      <input type="text" class="span3" placeholder="task description" />
    </div>
    <div class="row">
      <button type="submit" class="btn">Add</button>
    </div>
  </form>

</div>
{% endblock %}
