<html>
<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/style.css" />
  <title>{% block title %}Raku Queue{% endblock %}</title>
  <script src="/static/jquery.js" type="text/javascript"></script>
  <style type="text/css">
    body {
    padding-top: 80px !important;
    }
  </style>
</head>
<body>
  <div class="topbar" data-scrollspy="scrollspy">
    <div class="topbar-inner" >
      <div class="container">
        <ul class="nav">
          <li><a class="brand" href="http://site.tachibanakikaku.com/" target="_blank"><img src="/static/tp_logo.png" /></a></li>
          <li><a href="https://github.com/mryoshio/RaQu" target="_blank">source code</a></li>
          <li><a href="http://diary.tachibanakikaku.com" target="_blank">blog</a></li>
          <li><a href="http://alfresco-jp.tachibanakikaku.com/" target="_blank">alfresco JP</a></li>
          <li><a href="{{ url }}">{{ url_linktext }}</a></li>
        </ul>
        <ul class="nav secondary-nav">
          <li>{{quser.g_user}}</li>
        </ul>
      </div>
    </div>
  </div>
  {% block content %}PAGE CONTENT{% endblock %}
  <hr/>
  <div class="row">
    <div class="span4 offset12"><a href="http://site.tachibanakikaku.com" target="_blank">
        <img src="/static/tp_logo.png" border="0" height="50" /></a>
    </div>
  </div>
</body>
</html>
